extends hwlayout.pug
block content
	h2 Exercise 1: Drawing
	h3 Create a self-portrait
	p 
		| Many artists, for example 
		a(href="https://www.nga.gov/education/teachers/lessons-activities/self-portraits/van-gogh.html" target="_blank") Vincent van Gogh
		| , 
		a(href="https://www.leonardodavinci.net/self-portrait.jsp" target="_blank") Leonardo da Vinci
		| , 
		a(href="http://totallyhistory.com/self-portrait/" target="_blank") Raphael
		| , painted their self-portraits. In this exercise, you'll be using creative coding to create your own self-portrait.
	p You need to use the following functions in your drawing.
	p points: point()
	p lines: line()
	p shapes: triangle(), rect(), eclipse()
	p colors: color(), background(), fill(), noFill(), stroke(), noStroke()
	p How do I use these functions? You can look them up in the 
		a(href="https://p5js.org/reference/" target="_blank")  reference
		| .
	h2 Exercise 2: Animation
	h3 Make some visual music
	div.quote
		p
			| "Since ancient times artists have longed to create with moving lights a music for the eye comparable to the effects of sound for the ear."
		p.smaller
			| – Dr. William Moritz, the best-known historian of visual music writing in English, his speciality being the work of Oskar Fischinger
	p Famous visual music artists include 
		a(href="http://www.oskarfischinger.org/" target="_blank") Oskar Fischinger
		| , 
		a(href="http://www.centerforvisualmusic.org/Belson/" target="_blank") Jordan Belson
		| , 
		a(href="http://yonah.org/channel/hola-code-mexico-coding-school" target="_blank") Norman McLaren
		| , 
		a(href="https://www.siggraph.org/artdesign/profile/whitney/early.html" target="_blank") John Whitney Sr.
		| , and 
		a(href="https://hyperallergic.com/419009/thomas-wilfred-lumia/" target="_blank") Thomas Wilfred
		| .
	p You need to use the following code in your visual music.
	p frameCount, frameRate()
	p for-loop
	p translate(), scale(), PI, angleMode(), rotate()
	p push(), pop()
	div.fold
		p 没有灵感？ 
		ul
			li 梵高《星空》：“汹涌、动荡的蓝绿色激流”，“躁动不安的情感和疯狂的幻觉世界”
			li 玫瑰窗
			li Ryoji Ikeda
			li 烟花、花
			li 宇宙爆炸
	h2 Problem Set 1
	p 
		a(href="/ps/ps1.pdf") Link to the file
	h2 Problem Set 2	
	p
		a(href="/ps/ps2.pdf") Link to the file