extends hwlayout.pug
block content
	h2 Exercise1: Particle Particle Particle
	p Use 
		a(href="https://github.com/bobcgausa/cook-js" target="_blank") p5.particles 
		| library to make something beautiful.
	p Example: 
		a(href="/p5/i-love-new-york" target="_blank") i love new york
	
	h2 Exercise2: Interactive Visual Music
	p Use 
		a(href="https://p5js.org/reference/#/libraries/p5.dom" target="_blank") p5.dom
		|, 
		a(href="https://p5js.org/reference/#/libraries/p5.sound" target="_blank") p5.sound
		|  libraries and p5.js text related functions.
	p Find a piece of music you like. It should last at least 60 seconds. Search for interesting spots in the music. Make visual effects suitable for those moments.
	p Use the following code in this exercise.
	p addCue(), anonymous functions
	p loadFont(), textFont(), textSize(), text()
	p split(), Math.floor(), Math.random()
	p Integrate sliders and buttons to enable adjustable effects as in these examples: 
		a(href="/p5/flower-slider" target="_blank") (1)
		|  and 
		a(href="/p5/sound-slider" target="_blank") (2)
		|  .
	h2 Problem Set 3
	p 
		a(href="/ps/ps3.pdf") Link to the file