html
	head
		title hw#{hwid}
		link(rel='stylesheet', href='/css/hw.css')
	body
		div#content
			h1 Creative Coding
			h1 Homework #{hwid}
			p Created by Tengchao Zhou
			p October 2018
			div#display
			block content
			p.author Page Theme: A Cursor In A China House, created by Tengchao Zhou
		script(src='/js/hw.js')