html
	head
	body
		h1 Work In Progress
		h2 10 Computer Art Practitioners
		ul
			li
				a(href="https://www.bing.com/images/search?q=John Whitney computer animation" target="_blank") John Whitney (1917-1995)
			li
				a(href="https://www.bing.com/images/search?q=Vera Molnár" target="_blank") Vera Molnár (1924-)
			li
				a(href="http://www.knowltonmosaics.com/" target="_blank") Ken Knowlton (1931-)
			li
				a(href="http://benfry.com/projects/" target="_blank") Ben Fry
			li
				a(href="http://reas.com/" target="_blank") Casey Reas
		h2 10 More Computer Art Practitioners
		ul
			li
				a(href="https://codepen.io/zadvorsky/pen/EpERvZ/" target="_blank") Szenia Zadvornykh
			li
				a(href="http://taper.badquar.to/1/weights_and_measures.html" target="_blank") Lillian-Yvonne Bertram
			li
				a(href="https://codepen.io/Supercopra/pen/XBLMLo" target="_blank") Julius Horn
			li
				a(href="http://nickm.com/autopia/" target="_blank") Nick Montfort
			li
				a(href="http://camilleutterback.com/projects/text-rain/" target="_blank") Camille Utterback
			li
				a(href="http://hypernatural.com/" target="_blank") Amy M. Youngs 
			li
				a(href="https://catangui.com/randomized-form/" target="_blank") Sean Catangui 
			li
				a(href="http://playdo.io/projects/machine-wants-to-know.html" target="_blank") Sukanya Aneja

		h2 10 Artists Who Inspired Computer Artists
		ul
			li
				a(href="https://www.bing.com/images/search?q=Oskar Fischinger art" target="_blank") Oskar Fischinger

		h2 10 Books in Computer Art
		h4 Theory
		ul
			li A Philosophy of Computer Art, Dominic Lopes
			li MediaArtHistories, Oliver Grau
			li Aesthetics of Interaction in Digital Art, Katja Kwastek
			li When the Machine Made Art - The Troubled History of Computer Art (Grant Taylor, 2014)
			li Speaking Code: Coding as Aesthetic and Political Expression (Geoff Cox and Alex McLean, 2012)
			li
				a(href="http://newmediaartist.org/index.php/home" target="_blank") Interactive Electronics for Artists and Inventors by Ken Rinaldo
		h4 Practice
		ul
			li Learning Processing: A Beginner’s Guide to Programming Images, Animation, and Interaction and The Nature of Code

		h2 20 Computer Art Communities
		ul
			li
				a(href="https://threejs.org/" target="_blank") three.js - Javascript 3D library
			li
				a(href="https://experiments.withgoogle.com/" target="_blank") Experiments with Google
			li
				a(href="http://archive.aec.at/prix/" target="_blank") Ars Electronica Archiv
			li
				a(href="http://www.creativeapplications.net/" target="_blank") CreativeApplications.Net | Art, Media and Technology
			li
				a(href="https://thefwa.com/" target="_blank") The FWA - Awards
			li
				a(href="http://www.siggraph.org" target="_blank") SIGGRAPH, the Special Interest group for GRAPHics of the Association for Computer Machinery, ACM
			li
				a(href="http://www.isea-web.org/" target="_blank") ISEA The International Symposium on Electronic Art
			li
				a(href="http://sfpc.io/" target="_blank") School for Poetic Computation
			li
				a(href="http://ccfest.rocks/" target="_blank") CC Fest in NYC, LA, & sfpc
			li
				a(href="https://www.openprocessing.org/" target="_blank") OpenProcessing - Creative Coding for the Curious Mind 
			li
				a(href="https://zkm.de/en" target="_blank") ZKM
			li
				a(href="https://itp.nyu.edu/adjacent" target="_blank") The ITP & IMA Journal of Emerging Media

		h2 10 Fellowships
		ul
			li
				a(href="https://advocacy.mozilla.org/en-US/open-web-fellows/overview" target="_blank") The Open Web Fellows program

		h2 10 Computer Art Tools
		ul
			li
				a() Processing
			li
				a() OpenFrameworks
			li
				a(href="https://d3js.org/" target="_blank") D3.js - Data-Driven Documents
			li
				a() Unity3D

		h2 10 Residences
		ul
			li Ars Electronica Futurelab
			li Eyebeam

		h2 10 Courses
		ul
			li
				a(href="https://creativecoding.soe.ucsc.edu/courses/cs491/" target="_blank") CS 491 / DES 400 S2016 : Creative Coding 1 : Angus Forbes / Daria Tsoupikova
		h2 10 Museums
		ul
			li bitforms gallery (New York)
				a(href="https://bitforms.art/" target="_blank") 
		h2 10 Works
		ul
			li
				a(href="http://www.o-matic.com/play/friend/mesocosmUK/index.html" target="_blank") Mesocosm (2011)
			li
				a(href="https://www.jeffreyshawcompendium.com/portfolio/legible-city/") The Legible City (1988)